@model ozyer.Models.ServiceModel

@{
    ViewBag.Title = "sektorDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{
    @Model.Participations.Name -
}
<section class="visual">
    <div class="visual-inner  black-overlay-3 parallax"
         style="background-image: url(~/uploads/images/about_back.jpg) !important" data-stellar-background-ratio="0.55">
        <div class="centered">
            <div class="container">
                <div class="visual-text visual-center">
                    <h1 class="visual-title visual-sub-title text-white">@Model.Participations.Name</h1>
                    <div class="breadcrumb-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"> Anasayfa </a></li>
                            <li class="breadcrumb-item"><a href="#"> İştirakler </a></li>
                            <li class="breadcrumb-item active"> @Model.Participations.Name </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/visual/banner of the page -->
<!-- main content wrapper -->
<div class="content-wrapper">
    <section class="content-block portfolio-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-small mb-0 col-md-12">
                        <div class="img-block border-hover-effect">
                            <img src="~/uploads/images/about_back.jpg" alt="images">
                        </div>
                    </div>
                    <section class="content-block">
                        <div class="container">
                            <div class="demo-wrapper text-center">
                                @Html.Raw(Model.Participations.Description)
                            </div>
                            <div class="accordion-container">
                                <span class="text-center element-type">Firma Çalışmaları</span>
                                <div id="accordion2" class="panel-icon" role="tablist" aria-multiselectable="true">
                                    @foreach (var item in Model.workPartnerList)
                                    {
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingSeven">
                                                <h5 class="mb-0"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">@item.Name</a></h5>
                                            </div>
                                            <div id="collapseSeven" class="collapse show" role="tabpanel" aria-labelledby="headingSeven">
                                                <div class="card-block">

                                                    <div class="row masonary-block default-gallery">
                                                        @foreach (var photo in Model.WorkPartnerFileList.Where(x => x.WorkPartnerId == item.Id))
                                                        {
                                                            <div class="col-md-3 col-lg-3">
                                                                <figure class="caption-hover-full">
                                                                    <a data-thumbnail="@photo.Path" class="fancybox-thumb fancy-pop" title="Portfolio 12" href="@photo.Path"></a>
                                                                    <div class="image-wrapper"><img src="@photo.Path" alt="images description"></div>
                                                                </figure>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrap mt-5 mt-lg-0">
                        <div class="widget-block">
                            <div class="post-block">
                                <div class="col-small col-md-12">
                                    <div class="img-block border-hover-effect">
                                        <img src="@Model.Participations.Logo" alt="images">
                                    </div>
                                </div>
                                <div class="col-small col-md-12">
                                    <div class="img-block border-hover-effect">
                                        <img src="@Model.Participations.ParticipationsGroups.Logo" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="widget-block">
                                <div class="data-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>@Model.Participations.Sectors.Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.workPartnerList.Count; i++)
                                            {
                                                <tr>
                                                    <th scope="row">@(i+1)</th>
                                                    <td>
                                                    <a href="/projeler/@Model.workPartnerList[i].FriendlyUrl">@Model.workPartnerList[i].Name</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

